.card {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 150px;
  width: 200px;
  object-fit: contain;
}
.content {
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cardContent {
  width: 40vh;
  height: 70vh;
  /* background-color: rgba(49, 196, 141, 0.8); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}
